// sidebar
//字体颜色
$menuText:rgba(0, 0, 0, 0.67);
//选中item字体颜色
$menuActiveText:#fff;
//选中二级目录父字体颜色
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

//item背景颜色
$menuBg:#4DBFBE;
//item悬停背景颜色
$menuHover:#3bb8cf;

//二级目录背景颜色
$subMenuBg:#999;
//二级目录悬停背景颜色
$subMenuHover:#87a2e8;

//侧边栏宽度
$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
